html {
  scroll-behavior: smooth;
}

.mainabout {
  padding: 20px;
  background-color: #FBF9FA;
}

.hadua {
  color: #1D1D57;
  text-align: center;
  font-size: 1.25rem
}

.mainabout p,
.mainabout ul,
.mainabout address {
  color: #1D1D57;
  max-width: 800px;
  margin: 0 auto 20px auto;
  line-height: 2;
}

.mainabout ul {
  list-style-type: none;
  padding: 0;
}

.team{
  margin-bottom: 0 !important;
}

@media (max-width: 1024px) {
  .mainabout {
    padding: 15px;
  }
  
  .mainabout p,
  .mainabout ul,
  .mainabout address {
    max-width: 700px;
  }
}

@media (max-width: 600px) {
  .main-content {
    padding: 20px 10px;
  }
  
  .mainabout {
    padding: 10px;
  }
  
  .hadua {
    margin-top: 20px;
    font-size: 24px;
  }
  
  .mainabout p,
  .mainabout ul,
  .mainabout address {
    max-width: 100%;
    padding: 0 10px;
    font-size: 14px;
  }
  
  .mainabout ul li {
    margin-bottom: 8px;
  }
}

@media (max-width: 480px) {
  .hadua {
    font-size: 20px;
  }
  
  .mainabout p,
  .mainabout ul,
  .mainabout address {
    font-size: 13px;
  }
}